---
---

@import "{{ site.theme }}";

h1 {color: #267CB9;}
h2 {color: #267CB9; font-size: 28px;}
h3 {margin-top: 10px; margin-bottom: 10px; font-size: 1.35em;}
h4 {margin-top: 10px; margin-bottom: 10px; font-style: italic;}
